/* Common

1. Bodyの本文のフォントファミリー・サイズ・行間
2. リンクカラー
3. 中央寄せ margin auto

----------------------------------------------- */

body{
  font-family:  "Hiragino Kaku Gothic ProN" , "游ゴシック" , "Yu Gothic" , "メイリオ", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
a:link{
  color: #0099CC;
}

a:visited{
  color: #0099CC;
}

a:hover{
  color: #FF9900;
}

a:active{
  color: #FF9900;
}

#wrapper{
  width: 950px;
  margin: 40px auto 40px auto;
}

/* header ------------------------------------- */
#logo{
  width: 560px;
  overflow: hidden;
}

#logo h1{
  float: left;
  width: 220px;
}

#logo p{
  float: right;
  width: 320px;
  line-height: 1.5;
}

/* nav ------------------------------------- */

nav ul{
  overflow: hidden;
  margin: 50px 0 30px;
}

nav ul li{
  float: left;
  width: 150px;
  margin-right: 10px;
}

nav ul li a:link{
  color: #000;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  text-decoration: none;
  display: block;
}

nav ul li a:visited{
  color: #000;
}

nav ul li a:hover{
  color: #CCC;
  border-bottom: 1px solid #CCC;
}

nav ul li:last-child{
  margin-right: 0;
}

/*main_visual*/
#main_visual{
  margin-bottom: 50px;
}

/* contents ------------------------------------- */
/* common */
#contents{
  overflow: hidden;
  margin-bottom: 25px;
}

#contents h2{
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #999;
  margin-bottom: 15px;
}

.more_link{
  text-align: right;
  margin-top: 10px;
}

/* whatsNew */
#whatsNew{
  float: left;
  width: 310px;
  margin-right: 10px;
}
#whatsNew dl dt{
  font-size: 11px;
}
#whatsNew dl dd{
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/* about */
#about{
  float: left;
  width: 310px;
}

/* todaysMenu */
#todaysMenu{
  float: right;
  width: 310px;
  overflow: hidden;
}

#menu01{
  float: left;
  width: 150px;
}

#menu02{
  float: right;
  width: 150px;
}

/* footer ------------------------------------- */
footer{
  border-top: 1px solid #999;
  padding-top: 20px;
  clear: both;
}

footer p{
  font-size: 11px;
  text-align: right;
}
